/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Avenir - Regular */
@font-face {
  font-family: "Avenir";
  src: url("/src/assets/fonts/Avenir-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Avenir - Heavy */
@font-face {
  font-family: "Avenir";
  src: url("/src/assets/fonts/Avenir-Heavy.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Avenir - Black */
@font-face {
  font-family: "Avenir";
  src: url("/src/assets/fonts/Avenir-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --gunmetal: #2A3439;
  --amber_gold: #EABF14;
  --platinum_silver: #C0C0C0;
  --titanium_gray: #878681;
  --copper: #B87333;
  --white: #ffffff;
  --background: #ffffff;
  --foreground: #001a27;
  --border: #d1d6de;
}

@theme inline {
  --color-primary: var(--amber_gold);
  --color-secondary: var(--copper);
  --color-gunmetal: var(--gunmetal);
  --color-platinum-silver: var(--platinum_silver);
  --color-titanium-grary: var(--titanium_gray);
  --color-tertiary: #001a27;
  --color-background: var(--background);
  --color-background-alt: #00c3d326;
  --color-background-muted: #e4e8ed;
  --color-foreground: var(--foreground);
  --color-foreground-muted: #6c7585;
  --color-foreground-muted-more: #9fa7b2;
  --color-foreground-link: #025b75;
  --color-border: var(--border);
  --color-state-info-background: #e4e8ed;
  --color-state-info-foreground: #141921;
  --color-state-info-border: #d1d6de;
  --color-state-progress-background: #ede8ff;
  --color-state-progress-foreground: #6838e0;
  --color-state-progress-border: #c5b2ff;
  --color-state-warning-background: #fef3c7;
  --color-state-warning-foreground: #ca8a04;
  --color-state-warning-border: #f8d34c;
  --color-state-success-background: #ddf8e6;
  --color-state-success-foreground: #30a059;
  --color-state-success-border: #95e5b0;
  --color-state-destructive-background: #fef2f2;
  --color-state-destructive-foreground: #b91c1c;
  --color-state-destructive-foreground-muted: #dc2626;
  --color-state-destructive-border: #fecaca;
  --color-ring: #00c3d3;
  --color-button-primary-background: #025b75;
  --color-button-primary-foreground: #ffffff;
  --color-button-secondary-background: #00c3d3;
  --color-button-secondary-foreground: #ffffff;
  --font-roboto: "Roboto", sans-serif;
  --default-font-family: var(--font-roboto);
  --default-mono-font-family: var(--font-roboto);
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gunmetal);
  color: var(--foreground);
}

.headline {
  font-family: "Avenir", sans-serif;
  font-size: 86px;
}

.section-title {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
}

.text-title {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
}

.sub-heading {
  font-family: "Avenir", sans-serif;
  font-size: 42px;
}

.photo-text {
  font-family: "Pacifico", sans-serif;
}

.frame-container {
  min-width: 370px;
  background-size: 100% 100%;
}

.frame-container.white {
  background-image: url("/src/assets/img/white-frame.svg");
}

.frame-container.gold {
  background-image: url("/src/assets/img/gold-frame.svg");
}

.frame-container.silver {
  background-image: url("/src/assets/img/silver-frame.svg");
}

button[role="checkbox"] {
  box-shadow: 2px 2px 4px 0px rgba(234, 191, 20, 0.45);
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
}

textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}